*{
    /* border: 1px solid red; */
}
body {
    font-family: var(--Jost-sans-serif) !important;
}
section.decoding {
    background-image: url(../images/jwellarys.jpg);
    width: 100%;
    height: 365px;
    background-repeat: no-repeat;
    background-size: contain;
}
h4.elementor-title {
    color:var(--color-primary);
    font-size:var(--font-18);
    line-height: 1.2em;
    font-weight: var(--font-weight-400);
}
h1.elementor_heading {
    font-size: var(--font-40);
    color:var(--color-black);
}
p.elementor_pare {
    font-size: var(--font-16);
    color:var(--color-black);
}
.get_content label {
    font-size: var(--font-14);
}
.get_content input {
    border-radius: 3px !important;
}
.container {
    max-width: 1400px !important;
}

.Fashions {
    bottom: 14px;
    z-index: 14;
    position: absolute;
}
.clothy_title 
h4 {
   font-size:var(--font-15);
}.clothy_title  p {
    font-size: var(--font-14);
}.clothy_title 
a {
    color: var(--color-primary);
}
i.fa-solid.fa-store {
    color: #ee403dad;
    font-size:  var(--font-24);
}
.send_btn {
    padding: 8px 15px;
    background:  var(---white-light);
    border-radius: 2px;
}.send_btn:hover {
    color: var(--color-five) !important;
    background-color: var(--background-color-two) !important;
}


/* new css */

.forline {
    border-top: 1px solid #dee0ea;
}
.point {
    font-size: var(--font-30);
    font-weight: var(--font-weight-300); 
}
.aboutfore{
    color: var(--color-cream);
    font-size: var(--font-12);
    font-weight: var(--font-weight-600);
}
.aboutfore2 {
    font-weight: var(--font-weight-400);
}