@media only screen and (max-width: 1200px) {
    .container, .container-md, .container-sm {
        max-width: 940px !important;
    }
    .cart_btn {       
        width: 65%;
    
    }
}

@media only screen and (max-width: 600px) {
    
    table.table_content {
        width: 655px !important;
    }
}


@media only screen and (max-width: 575px) {
    
    table.table_content {
        width: 705px !important;
    }
}
