@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --Jost-sans-serif: "Jost", sans-serif;
  --Roboto-font: "Roboto", sans-serif;
  --font-7: 7px;
  --font-10: 10px;
  --font-11: 11px;
  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-17: 17px;
  --font-18: 18px;
  --font-20: 20px;
  --font-21: 21px;
  --font-22: 22px;
  --font-23: 23px;
  --font-24: 24px;
  --font-25: 25px;
  --font-26: 26px;
  --font-27: 27px;
  --font-28: 28px;
  --font-29: 29px;
  --font-30: 30px;
  --font-31: 31px;
  --font-32: 32px;
  --font-33: 33px;
  --font-34: 34px;
  --font-35: 35px;
  --font-36: 36px;
  --font-37: 37px;
  --font-38: 38px;
  --font-39: 39px;
  --font-40: 40px;
  --font-41: 41px;
  --font-42: 42px;
  --font-43: 42px;
  --font-44: 44px;
  --font-45: 45px;
  --font-46: 46px;
  --font-47: 47px;
  --font-48: 48px;
  --font-49: 49px;
  --font-50: 50px;

  --font-78: 78px;

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --color-white: #fff;
  --color-one: #0000ff;
  --color-two: #845a6a;
  --color-three: #0046be;
  --color-primary: #ee403d;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-four: #ee403dad;
  --color-five: #f5efef;
  --color-six: #5d6494;
  --color-seven: #2f2f5b;
  --color-eight: #a5a5a5;
  --color-nine: #292e62a8;
  --color-ten: #47b484;
  --color-eleven: #ef262c;
  --color-twelve: #021523;
  --color-thirteen: #0000009e;
  --color-fourteen: #0000008a;
  --color-fifteen: #0a0909;
  --color-yellow: yellow;
  --color-sixteen: #0a58ca;
  --color-seventeen: #2540bf;
  --color-eighteen: #c2c2d3;
  --color-ninteen: #f9c300;
  --color-twenty: rgb(189 189 189);
  --color-twentyone: #01447e;
  --color-twentyTwo: #000000de;
  --color-twentythree: #16101057;
  --color-red: red;
  --color-twentyfour: #f9d900;
  --color-twentyFive: #006;
  --color-twentysix: #71778e;
  --color-twentyseven: #ffcd00;
  --color-twentyeight: #f9c300;
  --color-twentynine: #f79426;
  --color-thirty: #fece31;
  --color-thirtyone: #90a0a3;
  --color-thirtytwo: #9e9e9e;
  --color-thirtythree: #2c3e51;
  --color-thirtyfour:#12cbc4;
  --color-thirtyfive:#aaa;
  --color-thirty-six:#c9b1da;
  --color-thirtyseven:#be8b94;
  --color-thirtyeight:#181733c7;

  --btn-bg-color: #0046be;

  --bar-bg-color: #b2b2b2;
  --bar-bg-color-two:#e5e5e5;

  --border-bottom-color: #eeeeee;

  --border-color: #ddd;
  --border-black: #000;
  --border-color-two: 1px solid #f0f0f0;
  --border-color-three: 1px solid #00000014;
  --border-color-four: 1px solid rgba(225, 227, 232, 0.18);
  --border-color-five:#999;
  --border-color-six:#12CBC4;
  --border-five: #0c0d0d;
  --border-six: 1px solid #0000002b;
  --border-seven: 1px solid #ddd;
  --border-eight: 1px solid #dee0ea;
  --border-nine: 2px solid #fff;
  --border-ten: 1px solid #eee;
  --border-eleven: #bbb;
  --border-twelve: 1px solid #ddd;
  --border-thirteen: 1px solid #999;
  --border-fourteen: #12cbc4;
  --border-fifteen:4px solid transparent;
  --border-sixteen: 4px solid #777;
  --border-seventeen: 2px solid #dee0ea;
  --border-eighteen: 2px solid #ee403d;




  --border-radius: 3px;
  --border-radius-one: 2px;
  --border-radius-three: 50%;
  --border-radius-four: 10px;

  --background-color-two: #8f8f8f;
  --background-color: #f0f0f0;
  --background-color-three: #3838c2e6;
  --background-color-four: #d6d4d0;
  --background-color-five: #f90d37;
  --background-color-six: #fafafa;
  --backgroun-color-seven: #dc3545;
  --background-white: #ffffff;
  --background-black: #000;
  --background-red:red;
  --background-eight: #007aff;
  --background-nine: #e0e0e0;
  --background-ten: #b2b2b2;
  --background-eleven: #969494;
  --background-twelve: #eee;
  --background-thirteen: #ffe;
  --background-fourteen: #3b5998;
  --background-fifteen: #1da1f2;
  --background-sixteen: #e60023;
  --background-seventeen: #ff4500;
  --background-eighteen: #25d366;
  --background-ninteen: #e9eaee;
  --background-twenty: #ee403d;
  --background-twentyOne: #9f1435;
  --background-twentytwo: #016243;
  --background-twentythree: #e1955b;
  --background-twentytfour: #6e94bb;
  --background-twentytfive: #003080;
  --background-twentysix: #e2939a;
  --background-twentyseven: #e4e4e6;
  --background-twentyeight: rgba(255, 255, 255, 0.3);
  --background-twentynine: #b2b2b2;
  --background-thirty: #eeeeee;
  --background-thirtyone: #f5f5f5;
  --background-thirtytwo:#0073aa;
  --background-thirtythree:#f6f6f6;
  --background-thirtyfour:#eff0f3;
  --background-thirtyeight:#5c4a4a;
  --background-thirtynine:#2d8421;
  --background-foureteen:#dbf1ff;
  --background-fouretyone:#211f1f;

  --box-shadow-two: 0 0 0 0 rgb(8 8 8 / 25%);
  --box-shadow-one: 5px 5px 0 #f8f8f8;
  --box-shadow-two: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  --box-shadow-three: 0 0 0 0 rgb(9 9 9 / 25%);
  --box-shadow-four: 0 0 0 0 rgb(14 14 14 / 25%);
  --box-shadow-five: 0 0 1em 1px rgba(0, 0, 0, 0.25);
  --box-shadow-six: 0 0 1px 0 black;
  --box-shadow-seven: 0 0 0 2px #ee403d;
  --box-shadow-eight: inset 0 0 6px rgba(0, 0, 0, 0.5);
  --box-shadow-nine: inset 0 0 6px rgba(0, 0, 0, 0.3);
  --box-shadow-ten: 0 0 0 0 rgb(2 2 3);
  --box-shadow-eleven: 0 0 0 1px rgba(0, 0, 0, 0.09);
  --box-shadow-twelve:0 1px 4px rgba(0, 0, 0, 0.05) inset;
  --box-shadow-thirteen:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --box-shadow-forteen: 0px 0px 5px 1px #dfd8d8;
     
}
